 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    text-decoration: none;
}

body {
    background-color: bisque;
}

.carousel{
    width: 40vh;
    height: 40vh;
    align-items: center;
    justify-content: center;
    
}

body{
    margin: 0;
    font-family: ("Poppins",);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color:bisque transparent
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
  }

  main {
    background-image: url(../assets/image/head/wallpaperbetter.com_2560x1080.jpg);
  }


  .fraseMain{
    
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border: solid 1px black;
  }

  .novedades{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer{
    background-color: bisque;
    margin-bottom: 0px;
  }

.informacionContacto{
    display: flex;
    border: solid 1px #212529;
    justify-content: center;
    align-items: center;
}

.telefono{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 270px;
}

.Correo{
    display: flex;
    justify-content:end ;
    align-items: center;
    margin-right: 270px;
  
}

.contacto{
  display: flex;
  height: 60vh;
  width: 70vh;
  background-color: violet;

}

.tituloContacto{
  justify-items: center;
  align-items: center;
}

.formulario{
  justify-content: center;
  align-items: center;
}

main{
  background-color: rgb(248, 235, 219);

}

header {
  background-color: rgb(255, 255, 255);
}

.titulosCar{
  display: flex;
  color: azure;

}



