.mainContacto{

    background-image: url(../assets/image/head/166545-universo_abstracto-el_arte_abstracto-arte-arte_digital-universo-3840x2160.jpg);
      width: 2000px;
      height: 850px;
      
         
               .formulario { 
                  justify-content: center;
                  align-items: start;
                  margin-bottom: 10px;
                }
      }
    
    
  
    