.mainContacto{

  background-image: linear-gradient(to right, #849092, #95a2a0, #a8b3af, #bdc5bd, #d3d6cd);
      width: 100vh;
      height: 100vh;
      
         
               .formulario { 
                  justify-content: center;
                  align-items: start;
                  margin-bottom: 10px;
                }
      }
    
    
  
    